:root{
  font-family: "Montserrat", sans-serif;
  --color-white:#fff;
  font-size: 62.5%; /*브라우저 기본 폰트 사이즈 설정인 16px의 62.5%=10px*/
}
body{
  font-size: 1.4rem;
}
/*reset*/
body,p{
  margin: unset;
}

h1,h2,h3,h4,h5,h6{
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

/*레이아웃*/
/*공통으로 활용하는 레이아웃 클래스, 가로기준으로 중앙정렬만 담당*/
.l_wrapper{
  max-width: 1080px;
  margin: 0 auto;
  box-shadow: inset 0 0 10px blue;

}

/*component*/
/*시각적으로 보여지는 공통 분모->템플릿 구성*/
.section{
  padding: 92px 0 100px;
}

.section.purple{
  background-color: #6230A2;
  color:#C89DFF;
}

.section.white{
  background-color: #FFF5ED;
  color:#F98173;
}
.section-header{
  box-shadow: inset 0 0 10px purple;
  margin-bottom: 100px;
}
.section-contents{
  box-shadow: inset 0 0 10px purple;

}

/*.section-header에 flexbox 제거, 그 어떤 콘텐츠도 담을 수 있는 확장성 위해, 그리고 하위에 section과 전혀 관계없는 별도 소속의 title을 만들어 냄. title로 새로운 컴포넌트가 시작되니, 클래스 구성이 좀 더 직관적이 됨.
*/
.title{
  /*title하위 가로배치*/
  display: flex;
  box-shadow: inset 0 0 10px gold;

}

.title-heading{
  flex-basis: auto;/*내부 타이틀 텍스트만큼 너비가 조정되게*/
  box-shadow: inset 0 0 10px darkcyan;

  flex-basis: auto;
  min-width: 280px;/*최소 사이즈 규정:280px보다 더 작이지지 않게 한계 설정*/
  
  line-height: 1.1;


  /*css변수 이용가능*/
  color: var(--color-white);
  font-size: 4rem;/*10px의 4배=40px*/
  /*color는 css변수로 이용가능/ font-size는 :root기준으로 설정가능*/

}


.title-descript{
  box-shadow: inset 0 0 10px orangered;

  /**/
  flex-grow: 1;
  max-width: 582px;

}

.title-controls{
  box-shadow: inset 0 0 10px dodgerblue;
  margin-left: auto;

}
