:root{
  font-family: "Montserrat", sans-serif;
  --color-white:#fff;
  font-size: 62.5%; /*브라우저 기본 폰트 사이즈 설정인 16px의 62.5%=10px*/
}
body{
  font-size: 1.4rem;
}
/*reset*/
body,p, ul{
  margin: unset;
}

li{
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

/*레이아웃*/
/*공통으로 활용하는 레이아웃 클래스, 가로기준으로 중앙정렬만 담당*/
.l_wrapper{
  max-width: 1080px;
  margin: 0 auto;


}

.l_gap_row{
  display: grid;
  row-gap: 30px;
  /*.l_gap_row의 안전성 높임*/
  grid-template-columns: minmax(0,1fr);/*✨min-widtn:auto문제를 컨테이너 관점에서 미리 해결*/
}

.list{
}
.list li + li{
  margin-top: 12px;
}

.list li{
  /*::before로 만들어진 점과 내부 컨텐츠를 가로로 정렬*/
  display: flex;
  align-items: center;
}

.list li::before{
  content: " ";
  background-color: #C89DFF;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 14px;
  margin-left: -24px;

/* 점이 절대 작아지지 않게 함 */
flex-shrink: 0;
}

/*component*/
/*시각적으로 보여지는 공통 분모->템플릿 구성*/
.section{
  padding: 92px 0 100px;
}

.section.purple{
  background-color: #6230A2;
  color:#C89DFF;
}

.section.white{
  background-color: #FFF5ED;
  color:#F98173;
}
.section-header{
  margin-bottom: 100px;
}
.section-contents{

}

/*.section-header에 flexbox 제거, 그 어떤 콘텐츠도 담을 수 있는 확장성 위해, 그리고 하위에 section과 전혀 관계없는 별도 소속의 title을 만들어 냄. title로 새로운 컴포넌트가 시작되니, 클래스 구성이 좀 더 직관적이 됨.
*/
.title{
  /*title하위 가로배치*/
  display: flex;
  align-items: center;

}

.title-heading{
  flex-basis: auto;/*내부 타이틀 텍스트만큼 너비가 조정되게*/

  
  min-width: 280px;/*최소 사이즈 규정:280px보다 더 작이지지 않게 한계 설정*/
  
  line-height: 1.1;


  /*css변수 이용가능*/
  color: var(--color-white);
  font-size: 4rem;/*10px의 4배=40px*/
  /*color는 css변수로 이용가능/ font-size는 :root기준으로 설정가능*/

}


.title-descript{

  /**/
  flex-grow: 1;
  max-width: 582px;

  
  display: flex;/*가상요소(하위요소)를 flex-item으로 만듦*/
  gap: 32px;
  align-items: center;
}

/*가상요소는 하위요소로 생성되며 flex-item이 될 수 있다*/
.title-descript::before{
  content: ' ';

  flex-shrink: 0;
  /*✨초기값 1, 그러므로 오른쪽 텍스트에 의해 수축될 수 있다
  ->이를 방지하기 위해 0으로 지정해 언제나 90px이 보장되게 함*/
  width: 90px;
  height: 1px;
  background-color: currentColor;
}

.title-controls{
  margin-left: auto;

}

.panel{
  background-color: var(--color-white);
  display: flex;/*가로배치*/
  color: #111;

}

.panel-cover{
  /*고정너비*/
  width: 280px;
  /* flex-basis:auto=> 280px로 계산
     min-width:auto:=> 280으로 계산*/
 
     box-shadow: inset 0 0 20px red;
     position: relative;/*absolute된 요소의 컨테이닝 블럭*/

}

/*상위요소중에  position: relative;기준*/
.panel-cover-bg{
  position: absolute;
  left: 0;
  top: 0;

  /*컨테이닝 블록 기준으로 가득 채움*/
  width: 100%;
  height: 100%;

  object-fit: cover;/*이미지의 비율 유지*/
}

.panel-content{
  /*가변너비-안전성 높이기!*/

  flex-grow: 1;/*panel의 남은 가용공간 전부 채움*/
  /*내부 컨텐츠 너비와 상관없이 너비 조정*/

   /* flex-basis: 0이므로 flex-grow비율 만으로도 너비 조정*/
  flex-basis: 0;/*✨패널 커버를 압박하지 않고 내부컨텐츠 상관없이 flex-grow:1만큼 차지함*/
  
  min-width: 0; /*✨내부 컨텐츠가 빠져나갈 경우(어처구니 이미지) 컨텐트가 패널 커버를 압박해 크기가 늘어나지 않게 함*/
/*✨min-width:auto는 내부 컨텐츠 크기로 min-width가 강제됨=>이를 방지하기 위해 0으로 설정*/

  padding: 16px 22px 22px;

}

.panel-title {
  color: #6230A2;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 14px;
}

